{{define "head"}}<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        margin: 0;
        padding: 0;
    }
    pre {
        overflow-x: auto;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        list-style: none;
    }
    li p {
        margin: 5px 0;
    }
    h2 {
        margin: 10px;
    }
    div {
        margin: 5px 10px;
    }
    .overview {
        display: block;
        margin: 5px 0;
    }
</style>{{end}}
