<!DOCTYPE html>
<html lang="zh">
<head>
<title>{{.profile.Name}} (@{{.profile.UniqueName}})</title>
{{template "head"}}
</head>
<body>
    <nav><a href="/explore">Explore</a></nav>
    <h2>Profile</h2>
    <div>Name: {{.profile.Name}} @{{.profile.UniqueName}}</div>
    <div>Bio: {{.profile.Bio}}</div>
    <h2>Tweets</h2>
    <ul>
        {{range $status := .list}}<li>
            <a href="/{{$status.User.UniqueName}}">{{$status.User.Name}} (@{{$status.User.UniqueName}})</a>
            <time>{{$status.CreateTime}}</time><br />
            <a class="overview" href="/{{$status.User.UniqueName}}/status/{{$status.ID}}">{{(index $status.Content 0).Value}}</a>
        </li>{{end}}
    </ul>
</body>
</html>