<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.profile.Name}} (@{{.profile.UniqueName}})</title>
    <style>
        li {
            margin-left: -20px;
        }
    </style>
</head>
<body>
    <h2>Profile</h2>
    <div>Name: {{.profile.Name}} @{{.profile.UniqueName}}</div>
    <div>Bio: {{.profile.Bio}}</div>
    <h2>Tweets</h2>
    <ul>
        {{range $status := .list}}
        <li>
            <a href="/{{$status.User.UniqueName}}">{{$status.User.Name}} (@{{$status.User.UniqueName}})</a>
            {{md (index $status.Content 0).Value}} <a href="/{{$status.User.UniqueName}}/status/{{$status.ID}}">Show More</a>
        </li>
        {{end}}
    </ul>
</body>
</html>