<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .overview }}</title>
    <style>
        pre {
            overflow-x: auto;
        }
        li {
            margin-left: -20px;
        }
    </style>
</head>
<body>
    <nav><a href="/explore">Explore</a></nav>
    <h2>Timeline</h2>
    <ul>
        {{range $index, $status := .list}}
        <li>
            <a href="/{{$status.User.UniqueName}}">{{$status.User.Name}} (@{{$status.User.UniqueName}})</a> <time>{{$status.CreateTime}}</time>
            {{if last $index $.list}}
            {{range $content := $status.Content}}
            {{md $content.Value}}
            {{end}}
            {{else}}
            {{md (index $status.Content 0).Value}} <a href="/{{$status.User.UniqueName}}/status/{{$status.ID}}">Show More</a>
            {{end}}
        </li>
        {{end}}
    </ul>
    <h2>Comments</h2>
    <ul>
        {{range $status := .comments}}
        <li>
            <a href="/{{$status.User.UniqueName}}">{{$status.User.Name}} (@{{$status.User.UniqueName}})</a>
            {{md (index $status.Content 0).Value}} <a href="/{{$status.User.UniqueName}}/status/{{$status.ID}}">Show More</a>
        </li>
        {{end}}
    </ul>
</body>
</html>