<!DOCTYPE html>
<html lang="zh">
<head>
<title>{{ .overview }}</title>
{{template "head"}}
</head>
<body>
    <nav><a href="/explore">Explore</a></nav>
    <h2>Timeline</h2>
    <ul>
        {{range $index, $status := .list}}
        <li>
            <a href="/{{$status.User.UniqueName}}">{{$status.User.Name}} (@{{$status.User.UniqueName}})</a>
            <time>{{$status.CreateTime}}</time><br />
            {{if last $index $.list}}
            {{range $content := $status.Content}}{{md $content.Value}}{{end}}
            {{else}}
            <a class="overview" href="/{{$status.User.UniqueName}}/status/{{$status.ID}}">{{(index $status.Content 0).Value}}</a>
            {{end}}
        </li>
        {{end}}
    </ul>
    {{if lt 0 (len .comments)}}<h2>Comments</h2>{{end}}
    <ul>
        {{range $status := .comments}}<li>
            <a href="/{{$status.User.UniqueName}}">{{$status.User.Name}} (@{{$status.User.UniqueName}})</a>
            <time>{{$status.CreateTime}}</time><br />
            <a class="overview" href="/{{$status.User.UniqueName}}/status/{{$status.ID}}">{{(index $status.Content 0).Value}}</a>
        </li>{{end}}
    </ul>
</body>
</html>